/* jodework css based on 16 wide columns. October 1st, 2015*/

/* Lato as default font from google: https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Lato */

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic);

/* Icon fonts via font-awesome: https://fortawesome.github.io/Font-Awesome */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/* Importing transformicons style sheet to keep the index clean */

@import url(../css/transformicons.css);

/**/
html, body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555;
  background: #DDD;
}
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  color: #555;
  font-weight: 900;
}
p {
  line-height: 25px;
}
.shim {
  width: 100%;
  float: left;
  height: 85px;
}
.container {
  width: 100%;
  max-width: 1250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* dont change the background of this - it won't show as it has no height */
}
.row {
  width: 100%;
  height: auto;
  float: left;
}
.col {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.two {
  width: calc(20% - 30px);
  float: left;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.four {
  width: calc(40% - 30px);
  float: left;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.eight {
  width: calc(50% - 30px);
  float: left;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.ten {
  width: calc(70% - 30px);
  float: left;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.twelve {
  width: calc(60% - 30px);
  float: left;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.fourteen {
  width: calc(80% - 30px);
  float: left;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.sixteen {
  width: calc(100% - 30px);
  float: left;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}

/* navigation menu stuff */

topnav {
  width: 100%;
  height: 65px;
  float: left;
  background: #444;
  position: fixed;
  z-index: 9999999;
  top: 0px;
  left: 0px;
}
topnav ul {
  width: auto;
  height: 65px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  list-style-image: none;
  float: right;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
topnav ul li {
  height: auto;
  width: auto;
  float: left;
}
topnav ul li a {
  line-height: 65px;
  color: #ddd;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  float: left;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-weight: 700;
  font-size: 13px;
  height: 65px;
  text-transform: uppercase;
}
topnav ul li a:hover {
  text-decoration: none;
  color: #FFF;
  line-height: 65px;
  color: #777;
  height: 65px;
  float: left;
}
topnav .logo {
  float: left;
  height: 65px;
  line-height: 65px;
  width: auto;
}
topnav .logo a {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  float: left;
  height: 65px;
  line-height: 65px!important;
}
topnav.down {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999999;
  background: #3f5767;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border: none;
  border-top: solid 1px #3f5767;
  border-bottom: solid 1px #3f5767;
}
topnav.down .logo {
  float: left;
  height: 65px;
  line-height: 65px;
  color: #f9f9f9;
  font-weight: 700;
  width: auto;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
topnav.down ul li a {
  color: #f0f0f0;
}
#navbutton {
  width: 65px;
  height: 65px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#navbutton a {
  width: 65px;
  height: 65px;
  line-height: 65px!important;
  color: #f0f0f0;
  text-align: center;
  float: left;
}
#navbutton.open {
  width: 65px;
  height: 65px;
  line-height: 65px;
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #222;
}

/* form stuff */

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  height: 42px;
  line-height: 42px;
  padding: 0px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #f9f9f9;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #555;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  outline: 0;
  border: none;
  border: solid 1px #eee;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Removes awkward default styles on some inputs for iOS */

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
  background: #faf9f3;
}
label, legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"], input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* block ul */

ul.block {
  width: 100%;
  float: left;
  height: auto;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  background: #FFF;
  list-style: none;
}
ul.block li {
  float: left;
  width: 100%;
  border-bottom: solid 1px #f0f0f0;
}
ul.block li a {
  float: left;
  width: calc(100% - 40px);
  height: auto;
  padding: 15px 20px;
  text-decoration: none;
  color: #8b0f04;
}

/* over 1080p */

@media (max-width: 1300px) {}

/* over most tablets */

@media (max-width: 800px) {
  .col {
    width: calc(100% - 30px)!important;
    float: left;
  }
  #navbutton {
    display: table;
  }
}

/* over some phone sizes and just to be safe most of the time, so it will just stack columns */

@media (max-width: 550px) {}

/* over some phone sizes and just to be safe most of the time - as big an iphone 5 */

@media (max-width: 400px) {}
